.similar {
  position: relative;
  margin: calc(20px + 20 * (100vw / 1920)) 0;

  padding: calc(20px + 20 * (100vw / 1920)) 8vw;

  width: 100%;

  background-color: rgb(28, 28, 28);

  @media (width < 815px) {
    padding: calc(10px + 10 * (100vw / 1920)) 4vw;
  }

  .similarInfo {
    p {
      font-size: calc(14px + 12 * (100vw / 1920));
      font-weight: bold;
    }
    span {
      font-size: calc(12px + 8 * (100vw / 1920));
    }
  }

  .similarSlider {
    position: relative;
    margin: calc(5px + 5 * (100vw / 1920)) 0;

    height: 386px;

    .similarSliderImage {
      border-radius: calc(5px + 5 * (100vw / 1920));
      filter: brightness(70%);
    }

    .similarSliderBlock {
      position: absolute;

      padding: 1vw;

      width: 100%;
      height: 100%;

      user-select: none;

      &:hover .similarSliderBlockInfo {
        bottom: 0;

        background-color: rgba(0, 0, 0, 0.56);
        transition: 350ms;
      }

      .similarSliderBlockPrice {
        display: flex;

        align-items: center;
        margin-bottom: 1vh;

        cursor: pointer;

        p {
          margin-left: 0.5vw;

          white-space: nowrap;

          font-size: calc(12px + 6 * (100vw / 1920));
          font-weight: bold;
        }

        span {
          margin-left: calc(5px + 5 * (100vw / 1920));
          padding: calc(1px + 1 * (100vw / 1920));

          border-radius: calc(5px + 5 * (100vw / 1920));

          text-align: center;

          font-size: calc(10px + 4 * (100vw / 1920));
          background-color: rgba(21, 21, 21, 0.801);
        }

        @media (width < 916px) {
          p {
            font-size: calc(14px + 6 * (100vw / 1920));
          }

          span {
            font-size: calc(12px + 4 * (100vw / 1920));
          }
          @media (width < 616px) {
            p {
              font-size: calc(20px + 10 * (100vw / 1920));
            }

            span {
              padding: calc(3px + 2 * (100vw / 1920));

              font-size: calc(12px + 10 * (100vw / 1920));
            }
          }
        }
      }

      .similarSliderBlockInfo {
        position: absolute;

        padding: calc(10px + 5 * (100vw / 1920));

        width: 100%;
        height: 60%;

        bottom: calc(-175px + -0 * (100vw / 1920));
        left: 0;

        transition: 850ms;

        .similarSliderBlockInfoName {
          margin-bottom: calc(10px + 10 * (100vw / 1920));

          font-size: calc(14px + 10 * (100vw / 1920));
          font-weight: bold;
        }

        .similarSliderBlockInfoText {
          font-size: calc(9px + 7 * (100vw / 1920));
        }

        .similarSliderBlockInfoLink {
          margin-top: calc(15px + 15 * (100vw / 1920));

          width: 50%;
          height: calc(40px + 40 * (100vw / 1920));

          line-height: calc(40px + 40 * (100vw / 1920));
          text-align: center;

          font-size: calc(10px + 7 * (100vw / 1920));

          border-radius: calc(5px + 5 * (100vw / 1920));

          background-color: rgb(21, 21, 21);

          transition: 0.2s;

          &:active {
            transform: scale(0.9);
          }
        }

        @media (width < 1015px) {
          bottom: calc(-190px + -0 * (100vw / 1920));

          @media (width < 915px) {
            .similarSliderBlockInfoName {
              font-size: calc(16px + 12 * (100vw / 1920));
            }

            .similarSliderBlockInfoText {
              font-size: calc(12px + 7 * (100vw / 1920));
            }

            .similarSliderBlockInfoLink {
              font-size: calc(12px + 7 * (100vw / 1920));
            }

            @media (width < 615px) {
              .similarSliderBlockInfoName {
                font-size: calc(20px + 12 * (100vw / 1920));
              }

              .similarSliderBlockInfoText {
                font-size: calc(14px + 7 * (100vw / 1920));
              }

              .similarSliderBlockInfoLink {
                margin-top: calc(30px + 20 * (100vw / 1920));

                font-size: calc(14px + 7 * (100vw / 1920));
              }
            }
          }
        }
      }
    }
  }

  .similarSelectOption {
    display: flex;
    width: 100%;

    justify-content: space-around;

    @media (width < 1415px) {
      justify-content: space-between;
    }

    button {
      width: calc(40px + 120 * (100vw / 1920));
      height: calc(20px + 60 * (100vw / 1920));

      border-radius: calc(5px + 5 * (100vw / 1920));

      font-size: calc(8px + 8 * (100vw / 1920));

      background-color: rgb(21, 21, 21);

      transition: 0.2s;

      &:active {
        transform: scale(0.9);
      }

      @media (width < 915px) {
        width: calc(60px + 120 * (100vw / 1920));
        @media (width < 615px) {
          height: calc(40px + 60 * (100vw / 1920));

          @media (width < 470px) {
            width: calc(40px + 120 * (100vw / 1920));
          }
        }
      }
    }
  }
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
