.apartment {
  position: relative;

  margin: 2vh 8vw 2vh 8vw;

  @media (width < 800px) {
    margin: 1vh 4vw 2vh 4vw;
  }

  .apartmentName {
    margin-bottom: 2vh;

    font-size: 34px;

  }

  .apartmentTop {
    display: flex;

    justify-content: space-between;

    .apartmentTopSlider {
      width: 58%;

      .apartmentTopSliderImage {
        position: relative;

        height: calc(120px + 240 * (100vw / 1920));
        z-index: 1;

        .sliderImageSpan {
          height: calc(120px + 315 * (100vw / 1920));
        }
      }
    }

    .apartmentTopCalendar {
      position: relative;
    }
  }
}
