.apartment-container {
  margin: 100px 8vw 0 8vw;

  height: 100%;

  @media (width < 800px) {
    margin: 100px 4vw 0 4vw;
  }

  .apartment-container__slider-info {
    display: flex;

    width: 100%;
    height: 100%;
    justify-content: space-between;

    @media (width < 600px) {
      display: block;
    }
  }

  .apartment-container__calendar {
    margin-top: 2vh;

    width: 100%;

    user-select: none;
    .react-datepicker {
      border: 0;
      border-radius: 1.5vh;

      box-shadow: 0px 0px 4px white;

      background-color: black;

      .react-datepicker__month-container {
        font-family: 'Nunito', sans-serif !important;
        font-size: 0.8rem;

        border: 0 solid #7c494900;
        border-radius: 0;

        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0);

        .react-datepicker__header {
          text-align: center;
          background-color: #000000;

          border-top-left-radius: 1.5vh;
          border-top-right-radius: 1.5vh;
          border-bottom: 1px solid #ffffff;

          .react-datepicker__current-month {
            color: white;
          }

          .react-datepicker__day-names {
            .react-datepicker__day-name {
              color: white;
            }
          }
        }

        .react-datepicker__day {
          color: rgb(255, 255, 255);

          border-radius: 0.5vh !important;

          &:hover {
            background-color: grey;
          }
        }

        .react-datepicker__day--disabled {
          color: rgb(141, 141, 141);

          &:hover {
            background-color: rgb(0, 0, 0);
          }
        }

        .react-datepicker__day--excluded {
          border-radius: 0;
          color: rgb(255, 255, 255);
          background-color: rgb(177, 0, 0) !important;
        }

        .react-datepicker__day--in-range {
          background-color: rgb(54, 110, 36);
        }

        .react-datepicker__day--in-selecting-range {
          background-color: rgb(4, 114, 187);
        }
      }
    }
  }
}
