.main-page-container {
  position: absolute;
  width: 100%;

  top: 0;

  z-index: 0;
  .main-page-container__picture {
    width: 100%;
    height: 100vh;

    object-fit: cover;
    filter: brightness(50%);

    z-index: 0;
  }

  .main-page-container__barselona-park {
    position: absolute;

    margin: 0;

    top: 30vh;

    right: 0;
    left: 0;

    text-align: center;

    font-size: calc(10px + 20 * (100vw / 1920));
    font-weight: bold;

    z-index: 999;

    .main-page-container__barselona-park__button {
      font-size: 10px;

      cursor: pointer;
    }
  }

  .main-page-container__location {
    position: relative;
    margin: 2vh 8vw;

    .main-page-container__location__title {
      margin: 0 0 3vh 0;

      text-align: center;

      font-size: 25px;
      font-weight: bold;
    }

    .main-page-container__location__info {
      display: flex;

      justify-content: space-between;

      .main-page-container__location__info-iframe {
        width: 40vw;
        height: 50vh;
        border: 0;
      }

      .main-page-container__location__info-about {
        margin: 0 2vw;
        text-align: center;

        & h3 {
          font-size: 30px;
        }

        & p {
          font-size: 16px;
        }
      }
    }
  }

  .main-page-container__contacts {
    position: relative;
    margin: 2vh 8vw;

    .main-page-container__contacts__title {
      margin: 0 0 3vh 0;

      text-align: center;

      font-size: 25px;
      font-weight: bold;
    }

    .main-page-container__contacts__info {
      display: flex;

      justify-content: space-between;

      & h3 {
        font-size: 30px;
      }

      & span {
        display: flex;
        align-items: center;
      }

      & p,
      a {
        margin: 0 1vw 1vh 0;
        font-size: 20px;
      }

      .main-page-container__contacts__info-icon {
        margin-right: 1vw;

        width: 4vh;
        height: 4vh;
      }

      .main-page-container__contacts__info-img {
        width: 40%;

        object-fit: cover;
      }
    }
  }
}
