.category {
  position: relative;
  margin: 0 8vw;

  .category__title {
    text-align: center;
    font-size: calc(20px + 15 * (100vw / 1920));
  }

  .category__load_more {
    margin-left: auto;
    width: 68%;
    right: 0;
    text-align: center;

    .category__button {
      margin: calc(10px + 10 * (100vw / 1920)) auto 0 auto;
      width: calc(100px + 150 * (100vw / 1920));
      height: calc(30px + 20 * (100vw / 1920));
      border-radius: calc(5px + 5 * (100vw / 1920));
      font-size: calc(10px + 10 * (100vw / 1920));
      box-shadow: rgb(34 34 34) 0 0 0 calc(3px + 3 * (100vw / 1920));
      color: #fff;
      background-color: rgb(28 28 28);
      transition: .3s;
      cursor: pointer;

      &:hover {
        background-color: rgb(48 48 48);
      }

      &:active {
        transform: scale(.9);
      }
    }

    @media (width < 805px) {
      width: 50%;

      @media (width < 605px) {
        width: 100%;
      }
    }
  }

  .category__content {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .category__apartments {
      display: flex;
      position: relative;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 67%;
      height: 100%;
      z-index: 0;

      @media (width < 805px) {
        display: block;
        width: 50%;


        @media (width < 605px) {
          display: flex;
          width: 100%;
        }
      }
    }
  }

  @media (width < 1200px) {
    margin: 0 4vw;

    @media (width < 605px) {
      margin: 0 2vw;
    }
  }
}