.categoryPage {
  position: relative;
  margin: 0 8vw;

  .categoryPageTitle {
    text-align: center !important;
    font-size: calc(15px + 15 * (100vw / 1920));
  }

  .categoryPageButton1 {
    position: absolute;
    margin: 0 auto;
    width: 20vw;
    height: 4vh;
    left: 0;
    right: 0;
    border-radius: calc(5px + 5 * (100vw / 1920));
    box-shadow: rgb(34 34 34) 0 0 0 calc(3px + 3 * (100vw / 1920));
    background-color: rgb(28 28 28);
    cursor: pointer;
  }

  .categoryPageBlocks {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    .categoryPageRightBlock {
      display: flex;
      position: relative;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 70%;
      height: 100%;
      z-index: 0;

      @media (width < 805px) {
        width: 50%;

        @media (width < 605px) {
          width: 100%;
        }
      }
    }
  }

  @media (width < 1200px) {
    margin: 0 4vw;

    @media (width < 605px) {
      margin: 0 2vw;
    }
  }
}