.categoryPage {
  position: relative;
  margin: 4vh 8vw;

  @media (width < 1200px) {
    margin: 0 4vw;

    @media (width < 605px) {
      margin: 0 2vw;
    }
  }

  .categoryPageTitle {
    text-align: center !important;

    font-size: calc(15px + 15 * (100vw / 1920));
  }

  .categoryPageButton1 {
    position: absolute;

    margin: 0 auto;

    width: 20vw;
    height: 4vh;

    left: 0;
    right: 0;

    border-radius: calc(5px + 5 * (100vw / 1920));
    box-shadow: rgb(34 34 34) 0px 0px 0px calc(3px + 3 * (100vw / 1920));

    background-color: rgb(28, 28, 28);

    cursor: pointer;
  }

  .categoryPageBlocks {
    display: flex;

    width: 100%;
    height: 100%;

    justify-content: space-between;

    .categoryPageRightBlock {
      position: relative;
      display: flex;

      width: 70%;
      height: 100%;

      justify-content: space-between;

      flex-wrap: wrap;

      z-index: 0;

      @media (width < 805px) {
        width: 50%;

        @media (width < 605px) {
          width: 100%;
        }
      }
    }
  }
}
