.category-page-container__apartments-card__info__important-info {
  display: flex;

  padding: 1vh 0;

  justify-content: space-between;
  border-top: 0.2vh solid rgba(128, 128, 128, 0.219);
  
  z-index: 0;
  div {
    display: flex;
    align-items: center;
  }

  p {
    margin-left: 0.5vw;
  }
}
