.category-page-container__apartments-card__info__important-info {
  display: flex;

  padding: 0.3vh 0;

  border-bottom: 2px solid white;

  font-size: 16px;

  justify-content: space-around;

  z-index: 0;
}
