.search_panel {
  margin: 0 auto;
  padding: 35% 3% 3%;
  text-align: center;

  .search_panel__body {
    display: flex;
    flex-direction: column;
  }

  //   background-color: rgba($color: rgb(191 102 102), $alpha: 20%);

  //   .search_panel__descr {}
}
