.interaction {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .box {
    margin: calc(10px + 10 * (100vw / 1920)) 0 0 0;
    padding: calc(5px + 5 * (100vw / 1920)) calc(3px + 2 * (100vw / 1920));
    width: 45%;
    height: calc(40px + 70 * (100vw / 1920));
    border-radius: calc(5px + 5 * (100vw / 1920));
    background-color: rgb(21 21 21);
    user-select: none;

    .box__title {
      text-align: center;
      text-transform: uppercase;
      font-size: calc(4px + 12 * (100vw / 1920));
    }

    .box__content {
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: rgb(166 140 117);

      .box__span {
        font-size: calc(20px + 30 * (100vw / 1920));
      }

      .box__date {
        font-size: calc(6px + 14 * (100vw / 1920));
      }
    }
  }
}