.selectCategory {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  margin: 3vh 8vw;

  //   height: calc(100vh - 140px);
  text-align: center;

  a {
    display: inline-block;
    position: relative;
    margin: calc(2px + 5 * (100vh / 1080)) calc(5px + 5 * (100vw / 1920));
    width: calc(100px + 150 * (100vw / 1920));
    height: calc(76px + 112 * (100vw / 1920));
    word-break: unset;
    text-align: center;

    .selectCategory__title {
      position: absolute;
      margin: 0 auto;
      width: 96%;
      bottom: 0.5vh;
      left: 0;
      right: 0;
      font-size: calc(8px + 12 * (100vw / 1920));
      color: #fff;
      z-index: 1;
    }

    .selectCategory__title:hover ~ .selectCategory__image {
      filter: brightness(40%);
    }

    .selectCategory__title:active ~ .selectCategory__image {
      filter: brightness(20%);
    }

    .selectCategory__image {
      position: relative;
      width: 100%;
      height: 100%;
      filter: brightness(65%);
      user-select: none;

      :active {
        filter: brightness(45%);
      }

      &:hover {
        filter: brightness(40%);
      }
    }
  }

  @media (width < 1200px) {
    margin: 2vh 4vw;

    @media (width < 605px) {
      margin: 2vh 2vw;
    }
  }
}
