.category-page-container__apartments-card__info__icons {
  margin: calc(4px + 0 * (100vw / 1920)) calc(5px + 5 * (100vw / 1920));

  & div {
    display: inline-block;
    margin: calc(2px + 3 * (100vw / 1920)) 0.6vw;

    width: calc(14px + 12 * (100vw / 1920));
    height: calc(14px + 12 * (100vw / 1920));

    cursor: pointer;
    z-index: 1;
    &:hover {
      transform: scale(2);
      z-index: 2;
    }
  }
}
