.category-page-container__apartments-card__info__icons {
  position: relative;
  display: flex;

  padding: 1vh 0;

  border-top: 0.2vh solid rgba(128, 128, 128, 0.219);


  user-select: none;

  .showicons,
  .hiddenicons-icon {
    display: flex;
    position: relative;

    width: 70%;
    flex-flow: row wrap;
    justify-content: space-between;


    user-select: none;
    div {
      position: relative;
    }
  }

  .hiddenicons {
    width: 30%;

    &:hover .hiddenicons-icon {
      visibility: visible;
    }

    p {
      text-align: right;

      font-weight: 600;

      line-height: calc(16px + 12 * (100vw / 1920));

      &:hover {
        color: grey;
      }

      cursor: pointer;
    }

    .hiddenicons-icon {
      position: absolute;
      visibility: hidden;


      padding: 0.5vh;

      width: 100%;

      left: 0;

      justify-content: space-between;

      box-shadow: 0px 0px 4px 0px rgba(172, 172, 172, 0.66);
      background-color: black;
      z-index: 2;
    }
  }

  svg:hover {
    // transform: scale(2);
    z-index: 2;
  }
}
