.customer {
	position: relative;
	margin: 2vh 0;
	width: auto;

	.customer__datePicker {
		margin-bottom: 2vh;
	}

	.customer__error {
		position: fixed;
		margin: 4vh 8vw;
		padding: calc(5px + 5 * (100vw / 1920));
		top: 100px;
		right: 20px;
		border-radius: calc(5px + 5 * (100vw / 1920));
		font-weight: 700;
		font-size: 20px;
		box-shadow: rgb(255 254 254) 0 0 2px;
		color: rgb(255 255 255);
		background-color: rgb(32 32 32);
		animation: gradient linear 1s infinite alternate;
		z-index: 10;
	}


	.customer__form {
		padding: calc(5px + 5 * (100vw / 1920));
		border-radius: calc(5px + 5 * (100vw / 1920));
		box-shadow: rgb(255 254 254) 0 0 2px;
		background-color: rgb(32 32 32);

		.customer__form_content {
			display: flex;
			flex-wrap: wrap;
		}


		input,
		select,
		button {
			flex: 1 1 calc(20% - 10px);
			margin: 5px;
			padding: calc(5px + 5 * (100vw / 1920));
			height: auto;
			border-radius: calc(5px + 5 * (100vw / 1920));
			font-size: calc(8px + 8 * (100vw / 1920));
			color: #fff;
			background-color: rgb(21 21 21);

			&::placeholder {
				color: #fff;
			}

			&:focus {
				box-shadow: rgb(255 254 254) 0 0 4px;
			}
		}

		button {
			&:hover {
				background-color: rgb(54 54 54);
			}
		}

		.customer__form_submit {
			display: flex;

			div {
				width: 300px;
				height: 75px;
			}
		}
	}

	@keyframes gradient {
		0% {
			color: #f00;

			/* Начальная позиция фона */
		}

		100% {
			color: rgb(255 255 255);

			/* Конечная позиция фона */
		}
	}
}