// .categoryOpen {
//   visibility: hidden;
//   color: #992525;

//   @media (width < 605px) {
//     position: fixed;
//     visibility: visible;
//     width: calc(20px + 20 * (100vw / 605));
//     height: calc(20px + 20 * (100vw / 605));
//     top: calc(40px + 75 * (100vw / 605));
//     right: calc(10px + 12 * (100vw / 605));
//     z-index: 10;

//     &:active .categoryContainer {
//       left: 0;
//     }
//   }
// }

.active,
.sidebar {
  position: sticky;
  padding-right: 3vw;
  width: 33%;
  height: 100%;
  top: calc(10px + 80 * (100vw / 1920));
  user-select: none;
  z-index: 1;

  @media (width < 805px) {
    width: 50%;

    @media (width < 605px) {
      position: fixed;
      width: 60%;
      height: auto;
      top: calc(70px + 98 * (100vw / 605));
      right: -370px;
      transition: 850ms;
    }
  }

  // @media (height < 580px) {
  //   position: fixed;
  //   overflow-y: scroll;
  // }
}

.active {
  right: calc(10px + 12 * (100vw / 605));
  transition: 350ms;
}


