.apartments {
  position: relative;
  margin: 0 0 calc(20px + 15 * (100vw / 1920)) 0;
  border-radius: calc(5px + 5 * (100vw / 1920));
  box-shadow: rgb(34 34 34) 0 0 0 6px;
  background-color: rgb(28 28 28);

  @media (width < 805px) {
    margin-right: auto;
    margin-left: auto;

  }
}

.slider {
  position: relative;
  width: calc(60px + 420 * (100vw / 1920));
  height: calc(50px + 270 * (100vw / 1920));
  user-select: none;

  .slider__images {
    border-top-left-radius: calc(5px + 5 * (100vw / 1920));
    border-top-right-radius: calc(5px + 5 * (100vw / 1920));
    object-fit: cover;
    cursor: pointer;

    &:active {
      filter: brightness(60%);
    }
  }

  p {
    line-height: calc(50px + 270 * (100vw / 1920));
    text-align: center;
    font-size: calc(10px + 12 * (100vw / 1920));

    @media (width < 805px) {
      line-height: calc(90px + 125 * (100vw / 805));

      @media (width < 605px) {
        line-height: calc(35px + 265 * (100vw / 605));
      }
    }

  }

  @media (width < 805px) {
    width: calc(50px + 300 * (100vw / 805));
    height: calc(115px + 125 * (100vw / 805));

    @media (width < 605px) {
      width: calc(5px + 465 * (100vw / 605));
      height: calc(35px + 265 * (100vw / 605));
    }
  }
}