.filtration {
  position: relative;
  margin: calc(10px + 20 * (100vw / 1920)) 0;
  padding: calc(5px + 15 * (100vw / 1920));
  border-radius: calc(5px + 5 * (100vw / 1920));
  box-shadow: rgb(34 34 34) 0 0 0 calc(3px + 3 * (100vw / 1920));
  background-color: rgb(28 28 28);

  .filtration__title {
    font-size: calc(12px + 12 * (100vw / 1920));
  }

  .filtration__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: calc(5px + 5 * (100vw / 1920));

    .filtration__controls {
      display: flex;
      position: relative;
      margin-bottom: calc(5px + 5 * (100vw / 1920));
      width: 50%;

      input {
        margin-right: calc(5px + 5 * (100vw / 1920));
      }

      .filtration__option {
        font-size: calc(6px + 8 * (100vw / 1920));
        cursor: pointer;

        &:hover {
          color: rgb(80 80 80);
        }
      }

      .filtration__option_active {
        color: rgb(160 135 113);
      }

      .filtration__dropDown {
        position: absolute;
        border-radius: calc(5px + 5 * (100vw / 1920));
        box-shadow: rgb(45 45 45) 0 0 0 calc(3px + 3 * (100vw / 1920));
        background-color: rgb(28 28 28);
        z-index: 3;

        a {
          padding: 0.5vh 1vw;
          width: 100%;
          border-radius: calc(5px + 5 * (100vw / 1920));
        }

        a:hover {
          color: #fff;
          background-color: rgb(80 80 80);
        }
      }

      @media (width < 605px) {
        width: 45%;

        input {
          width: calc(5px + 10 * (100vw / 605));
        }
      }
    }
  }

  .filtration__reset {
    font-size: calc(8px + 12 * (100vw / 1920));
    cursor: pointer;


    &:hover {
      color: #808080;
    }
  }

  @media (width < 605px) {
    width: 100%;
  }
}