html,
body {
  margin: 0;
  padding: 0;

  width: 100%;

  height: 100%;
  min-height: calc(100vh - 70px);

  color: white;
  background-color: rgb(16, 16, 16);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1 {
  margin: 40px auto 30px auto;
  font-size: calc(22px + 22 * (100vw / 1920));
}

h2 {
  margin: 30px auto 20px auto;
  font-size: calc(18px + 22 * (100vw / 1920));
  text-align: center;
}

h3 {
  margin: 20px auto 10px auto;
  font-size: calc(12px + 20 * (100vw / 1920));
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(145, 145, 145);
}

.swiper-horizontal {
  border-top-right-radius: 1vh !important;
  border-top-left-radius: 1vh !important;
}

.visible-title {
  visibility: visible;
}

.hidden-title {
  visibility: hidden;
}

.react-datepicker-wrapper {
  cursor: pointer;
}

.react-datepicker__navigation-icon::before {
  border-color: rgb(255, 255, 255);
}
.react-datepicker__triangle::after,
.react-datepicker__triangle::before {
  border-bottom-color: #00000000 !important;
}

.react-datepicker {
  position: absolute;
  display: flex;

  border: 0 !important;
  border-radius: 1vh;

  box-shadow: rgb(34 34 34) 0px 0px 0px 6px;

  background-color: rgb(28, 28, 28) !important;

  z-index: 1;

  overflow-y: hidden !important;
  overflow-x: scroll !important;

  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(87, 87, 87);

    &:hover {
      background-color: rgb(61, 61, 61);
    }
  }

  .react-datepicker__month-container {
    width: 100%;

    border-radius: 1vh;
    font-size: calc(6px + 8 * (100vw / 1920));

    background-color: rgb(28, 28, 28);

    .react-datepicker__header {
      border-bottom: 3px solid rgb(40, 40, 40);
      border-top-right-radius: 1vh;
      border-top-left-radius: 1vh;

      background-color: rgb(28, 28, 28);

      .react-datepicker__current-month {
        font-size: calc(10px + 18 * (100vw / 1920));
        color: #ffffff;

        &:first-letter {
          text-transform: uppercase;
        }
      }

      .react-datepicker__day-names {
        .react-datepicker__day-name {
          margin: calc(2px + 2 * (100vw / 1920));
          width: calc(20px + 15 * (100vw / 1920));
          height: calc(20px + 15 * (100vw / 1920));

          line-height: calc(20px + 15 * (100vw / 1920));
          font-size: calc(10px + 12 * (100vw / 1920));

          color: #ffffff;
        }
      }
    }

    .react-datepicker__month {
      .react-datepicker__week {
        .react-datepicker__day {
          margin: calc(2px + 2 * (100vw / 1920));
          width: calc(20px + 15 * (100vw / 1920));
          height: calc(20px + 15 * (100vw / 1920));

          font-size: calc(10px + 10 * (100vw / 1920));

          border-radius: calc(3px + 3 * (100vw / 1920));

          line-height: calc(20px + 15 * (100vw / 1920));
          color: white;

          &:hover {
            background-color: grey;
          }
        }
      }
    }

    .react-datepicker__day--outside-month {
      height: 0px !important;
      color: #ffffff00 !important;
    }

    .react-datepicker__day--disabled {
      color: #8d8d8d !important;

      &:hover {
        background-color: rgb(28, 28, 28) !important;
      }
    }

    .react-datepicker__day--in-range {
      background-color: rgb(64, 133, 41) !important;
    }

    .react-datepicker__day--excluded {
      color: #ffffff !important;
      background-color: #b10000 !important;

      &:hover {
        background-color: #b10000 !important;
      }
    }

    .react-datepicker__day--in-selecting-range {
      background-color: rgb(4, 114, 187) !important;
    }
  }
}

.main-buttons-style {
  display: inline-flex;
  position: relative;

  padding: 1vh 1vw;

  box-sizing: border-box;

  align-items: center;
  justify-content: center;

  border-radius: 1vh;

  font-size: calc(8px + 8 * (100vw / 1920));

  transition: box-shadow 0.15s, transform 0.15s;
  touch-action: manipulation;
  will-change: box-shadow, transform;

  box-shadow: rgba(187, 187, 187, 0.4) 0 2px 4px, rgba(187, 187, 187, 0.3) 0 7px 6px -3px,
    rgb(0, 0, 0) 0 -4px 0 inset;

  background-color: rgb(40, 40, 40);

  user-select: none;
  cursor: pointer;

  &:focus {
    box-shadow: rgba(187, 187, 187, 0.4) 0 4px 8px, rgba(187, 187, 187, 0.3) 0 7px 6px -3px,
      rgb(0, 0, 0) 0 -4px 0 inset;
  }

  &:hover {
    box-shadow: rgba(187, 187, 187, 0.4) 0 4px 8px, rgba(187, 187, 187, 0.3) 0 7px 6px -3px,
      rgb(0, 0, 0) 0 -4px 0 inset;
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: rgb(0, 0, 0) 0 3px 7px inset;
    transform: translateY(2px);
  }
}
