.options {
  padding: calc(5px + 15 * (100vw / 1920));

  width: 90%;

  border-radius: calc(5px + 5 * (100vw / 1920));
  box-shadow: rgb(34 34 34) 0px 0px 0px calc(3px + 3 * (100vw / 1920));

  background-color: rgb(28, 28, 28);

  @media (width < 605px) {
    width: 100%;
  }

  .optionsIcon {
    margin: 0 auto;
    width: calc(15px + 15 * (100vw / 1920));
    height: calc(15px + 15 * (100vw / 1920));

    cursor: pointer;
  }

  .IconWrap {
    transform: rotate(180deg);
  }

  .swapCategory {
    position: relative;

    width: 100%;
    height: calc(40px + 40 * (100vw / 1920));
    z-index: 3;

    .swapCategoryButton {
      width: 100%;
      height: 100%;

      border-radius: calc(5px + 5 * (100vw / 1920));

      font-size: calc(6px + 16 * (100vw / 1920));

      color: white;
      background-color: rgb(21, 21, 21);

      cursor: pointer;

      z-index: 3;
    }

    .swapCategoryContent {
      position: relative;

      width: 100%;
      height: 50vh;

      overflow-y: scroll;

      border-radius: calc(5px + 5 * (100vw / 1920));
      box-shadow: rgb(34 34 34) 0px 0px 0px 6px;

      background-color: rgb(28, 28, 28);
      z-index: 1;

      &::-webkit-scrollbar {
        width: calc(5px + 5 * (100vw / 1920));
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgb(21, 21, 21);

        &:hover {
          background-color: rgb(61, 61, 61);
        }
      }

      & a {
        display: flex;

        flex-wrap: wrap;
        list-style: none;

        padding: calc(5px + 5 * (100vw / 1920));

        text-decoration: none;

        font-size: calc(8px + 7 * (100vw / 1920));

        color: white;
        cursor: pointer;

        &:hover {
          background-color: rgb(61, 61, 61) !important;
        }
      }
    }
  }

  .optionsBottom {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;

    .box {
      margin: calc(10px + 10 * (100vw / 1920)) 0 0 0;
      padding: calc(5px + 5 * (100vw / 1920)) calc(3px + 2 * (100vw / 1920));

      width: 45%;
      height: calc(40px + 70 * (100vw / 1920));

      border-radius: calc(5px + 5 * (100vw / 1920));

      background-color: rgb(21, 21, 21);

      user-select: none;
      .boxTitle {
        text-align: center;
        font-size: calc(4px + 12 * (100vw / 1920));
        text-transform: uppercase;
      }

      .boxDate {
        display: flex;

        align-items: center;

        justify-content: space-around;

        color: rgb(166, 140, 117);

        .boxDateNumber,
        .boxNights {
          font-size: calc(20px + 30 * (100vw / 1920));
        }

        .boxDateTitle {
          font-size: calc(6px + 14 * (100vw / 1920));
        }
      }
    }
  }
}

.swapCategory {
  position: relative;

  width: 100%;
  height: 8vh;
  z-index: 3;

  .selectedCategory {
    background-color: rgb(100, 100, 100);
  }

  .swapCategoryButton {
    width: 100%;
    height: 100%;

    border-radius: calc(5px + 5 * (100vw / 1920));

    font-size: calc(6px + 16 * (100vw / 1920));

    color: white;
    background-color: rgb(21, 21, 21);

    cursor: pointer;

    z-index: 3;
  }

  .swapCategoryContent {
    position: relative;

    width: 100%;
    height: 50vh;

    overflow-y: scroll;

    border-radius: calc(5px + 5 * (100vw / 1920));
    box-shadow: rgb(34 34 34) 0px 0px 0px 6px;

    background-color: rgb(28, 28, 28);
    z-index: 1;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(21, 21, 21);

      &:hover {
        background-color: rgb(61, 61, 61);
      }
    }

    & a {
      display: flex;

      flex-wrap: wrap;
      list-style: none;

      padding: calc(5px + 5 * (100vw / 1920));

      text-decoration: none;

      font-size: calc(8px + 7 * (100vw / 1920));

      color: white;
      cursor: pointer;

      &:hover {
        background-color: #3d3d3d !important;
      }
    }
  }
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
