.category-page-container__sorting__dropdown {
    position: relative;
    margin-bottom: 1vh;

    width: 100%;
    height: 24%;
  }

  .more-more {
    margin: 0 auto;
    width: 30px;
    height: 30px;
  }

  .category-page-container__sorting__dropdown-button {
    width: 100%;
    height: 100%;

    border: none;

    font-size: calc(6px + 16 * (100vw / 1920));

    color: white;
    background-color: #000000;

    cursor: pointer;
  }

  .category-page-container__sorting__dropdown__content {
    display: none;
    position: absolute;

    width: 100%;
    height: 50vh;

    overflow-y: scroll;

    border: 1px solid white;

    background-color: #000000;
    z-index: 2;

    .active {
      border: 2px solid rgb(99, 99, 99);
      background-color: #3d3d3d;
    }

    & a {
      display: flex;

      flex-wrap: wrap;
      list-style: none;

      padding: calc(5px + 5 * (100vw / 1920));

      text-decoration: none;

      font-size: calc(8px + 7 * (100vw / 1920));

      color: white;
      cursor: pointer;

      @media (width < 800px) {
        align-items: center;
      }

      &:hover {
        background-color: #3d3d3d !important;
      }
    }
  }

  .category-page-container__sorting__dropdown__content a:hover {
    background-color: #ddd;
  }

  .category-page-container__sorting__dropdown:hover
    .category-page-container__sorting__dropdown__content {
    display: block;
  }

  .category-page-container__sorting__dropdown:hover .category-page-container__sorting__dropdown-button {
    background-color: #3d3d3d;
  }
