.category-page-container__apartments-card__images {
  width: 48%;

  user-select: none;
  @media (width < 600px) {
    width: 100%;
    margin-bottom: 1vh;
  }

  .category-page-container__apartments-card__images-picture {
    width: calc(86px + 287 * (100vw / 1920)) ;
    height: calc(165px + 105 * (100vw / 1920)) ;

  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    color: rgb(0, 81, 255);
  }
}
