.info {
  padding: 0 1vw;

  span {
    position: absolute;
    padding: 0.2vw 0.6vw;
    bottom: -2.4vh;
    left: -2vw;
    border: calc(2px + 1 * (100vw / 1920)) solid rgb(60 60 60);
    white-space: nowrap;
    font-size: calc(8px + 5 * (100vw / 1920));
    color: rgb(255 255 255);
    background-color: rgb(28 28 28);
    z-index: 2;

    @media (width < 605px) {
      font-size: calc(6px + 6 * (100vw / 605));
    }
  }

  .infoTitle {
    padding: calc(5px + 5 * (100vw / 1920)) 0;
    width: 100%;
    font-weight: 700;
    font-size: calc(12px + 15 * (100vw / 1920));
    cursor: pointer;

    @media (width < 605px) {
      font-size: calc(8px + 15 * (100vw / 605));
    }
  }

  .infoOptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: calc(5px + 5 * (100vw / 1920)) 0;
    border-top: calc(2px + 1 * (100vw / 1920)) solid rgb(40 40 40);
    z-index: 0;

    .infoDescription {
      display: flex;
      align-items: center;

      p {
        margin-left: 0.5vw;
        font-size: calc(6px + 8 * (100vw / 1920));
      }
    }

    @media (width < 805px) {
      p {
        font-size: calc(8px + 12 * (100vw / 1920)) !important;
      }

      @media (width < 605px) {
        p {
          font-size: calc(6px + 12 * (100vw / 605)) !important;
        }
      }
    }
  }
}

.infoService {
  display: flex;
  position: relative;
  align-items: baseline;
  padding: calc(5px + 5 * (100vw / 1920)) 0;
  border-top: calc(2px + 1 * (100vw / 1920)) solid rgb(40 40 40);
  user-select: none;

  svg:hover {
    z-index: 2;
  }

  .infoServiceShownIcons,
  .infoServiceAllIcons {
    display: flex;
    position: relative;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 70%;
    user-select: none;

    div {
      position: relative;
    }
  }

  .infoServiceAll {
    width: 30%;

    p {
      line-height: calc(16px + 12 * (100vw / 1920));
      text-align: right;
      font-weight: 600;
      font-size: calc(8px + 8 * (100vw / 1920));
      cursor: pointer;

      &:hover {
        color: #808080;
      }
    }

    .infoServiceAllIcons {
      position: absolute;
      justify-content: space-between;
      padding: 0.5vh;
      width: 100%;
      left: 0;
      border: calc(2px + 1 * (100vw / 1920)) solid rgb(60 60 60);
      background-color: rgb(28 28 28);
      z-index: 2;
    }

    @media (width < 805px) {
      p {
        font-size: calc(10px + 12 * (100vw / 1920)) !important;
      }

      @media (width < 605px) {
        p {
          font-size: calc(4px + 10 * (100vw / 605)) !important;
        }
      }
    }
  }
}

.infoPriceButton {
  display: flex;
  justify-content: space-between;
  padding: 1vh 0;
  border-top: calc(2px + 1 * (100vw / 1920)) solid rgb(40 40 40);

  .infoPriceButtonButn {
    width: calc(35px + 175 * (100vw / 1920));
    height: calc(20px + 20 * (100vw / 1920));
    font-size: calc(5px + 8 * (100vw / 1920));
  }

  div {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
  }

  p {
    text-align: center;
    font-weight: 700;
    font-size: calc(7px + 14 * (100vw / 1920));
  }

  @media (width < 805px) {
    p {
      font-size: calc(10px + 16 * (100vw / 1920)) !important;
    }

    .infoPriceButtonButn {
      width: calc(70px + 175 * (100vw / 1920)) !important;
      font-size: calc(6px + 8 * (100vw / 1920)) !important;
    }

    @media (width < 605px) {
      p {
        font-size: calc(6px + 14 * (100vw / 605)) !important;
      }

      .infoPriceButtonButn {
        width: calc(30px + 175 * (100vw / 605)) !important;
        height: calc(16px + 20 * (100vw / 605)) !important;
        font-size: calc(5px + 8 * (100vw / 605)) !important;
      }
    }
  }
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
