.discover_location {
  display: flex;
  padding: calc(8px + 0.2604166667vw);

  //   justify-content: space-between;
  width: 100%;

  //   height: auto;

  //  height: 35vh;

  .discover_location__fhoto_block {
    display: grid;
    position: relative;
    flex: 1 1 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-right: 5vw;

    //  width: 100vw;
    height: auto;
    gap: 15px;

    .discover_location__grid_container {
      position: relative;

      .discover_location__fhoto {
        object-fit: cover;
      }
    }
  }

  .discover_location__info_block {
    display: flex;
    position: relative;
    flex: 0 0 33%;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5vw;

    h2 {
      margin: 0 0 30px;
      text-align: left;
    }

    h3 {
      margin: 0;
      margin-bottom: 7px;
      text-align: left;
      text-transform: uppercase;
      font-size: 1em;
    }

    span {
      color: rgb(166 140 117);
    }

    .discover_location__descr_block {
      display: flex;
      justify-content: space-between;
      gap: 30px;

      // padding: 20px;

      .discover_location__descr {
        flex: 0 0 50%;
        font-size: 1.1rem;
      }
    }
  }

  .btn_custom {
    margin-top: 1.45em;
    padding: 3% 5%;
    width: 45%;
    text-align: center;
    background-color: rgb(68 55 55);
  }

  @media (width < 1200px) {
    flex-direction: column;

    .discover_location__fhoto_block {
      margin: 0 auto;
      margin-bottom: calc(0px + 4.1666666667vw);

      // margin-right: 0;

      // margin: calc(15px + 0.78125vw) calc(0px + 4.1666666667vw);
      width: 95%;
      height: 45vh;
    }

    .discover_location__info_block {
      margin: 0 auto;
      width: 95%;
    }
  }

  //   @media (width < 992px) {
  //   }

  @media (width < 768px) {
    .discover_location__fhoto_block {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

	 .discover_location__info_block {
		flex: 0 0 auto;
		padding: 0 calc(8px + 0.2604166667vw);

      // margin: 0 auto;
      // width: 95%;
    }
  }

  @media (width < 600px) {
    .discover_location__fhoto_block {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }

	
  }
}
