.category-page-container__apartments-card__info {


  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.753)
  ;
  .category-page-container__apartments-card__info__apartment {
    display: flex;

    height: calc(40px + 30 * (100vw / 1920));

    border-bottom: 2px solid white;

    & div {
      position: relative;

      width: 50%;
      height: 100%;
    }

    & p {
      display: flex;

      margin: auto 0;

      height: 100%;
      align-items: center;
      justify-content: space-evenly;

      border-right: 2px solid white;

      font-size: calc(10px + 18 * (100vw / 1920));
      font-weight: bold;

      & span {
        font-weight: normal;
      }
    }

    & button {
      position: relative;
      width: 50%;

      border: 0;

      font-size: calc(8px + 10 * (100vw / 1920));
      font-weight: bold;

      color: white;
      background-color: rgba(255, 255, 255, 0);

      cursor: pointer;

      &:hover {
        color: white;
        background-color: rgb(122, 122, 122);
      }
    }
  }
}
