.info {
  padding: 0 1vw;

  span {
    position: absolute;

    padding: 0.2vw 0.6vw;

    bottom: -2.4vh;
    left: -2vw;

    font-size: calc(8px + 5 * (100vw / 1920));

    white-space: nowrap;

    border: calc(2px + 1 * (100vw / 1920)) solid rgb(60, 60, 60);

    color: rgb(255, 255, 255);
    background-color: rgb(28, 28, 28);

    z-index: 2;

    @media (width < 605px) {
      font-size: calc(6px + 6 * (100vw / 605));
    }
  }

  .infoTitle {
    padding: calc(5px + 5 * (100vw / 1920)) 0;

    width: 100%;

    font-size: calc(12px + 15 * (100vw / 1920));
    font-weight: bold;

    cursor: pointer;

    @media (width < 605px) {
      font-size: calc(8px + 15 * (100vw / 605));
    }
  }

  .infoOptions {
    display: flex;

    padding: calc(5px + 5 * (100vw / 1920)) 0;

    justify-content: space-between;
    border-top: calc(2px + 1 * (100vw / 1920)) solid rgb(40, 40, 40);

    z-index: 0;
    flex-wrap: wrap;

    @media (width < 805px) {
      p {
        font-size: calc(8px + 12 * (100vw / 1920)) !important;
      }

      @media (width < 605px) {

        p {
          font-size: calc(6px + 12 * (100vw / 605)) !important;
        }
      }
    }

    .infoDescription {
      display: flex;
      align-items: center;

      p {
        margin-left: 0.5vw;
        font-size: calc(6px + 8 * (100vw / 1920));
      }
    }
  }
}

.infoService {
  position: relative;
  display: flex;

  padding: calc(5px + 5 * (100vw / 1920)) 0;

  align-items: baseline;

  border-top: calc(2px + 1 * (100vw / 1920)) solid rgb(40, 40, 40);

  user-select: none;

  svg:hover {
    z-index: 2;
  }

  .infoServiceShownIcons,
  .infoServiceAllIcons {
    display: flex;
    position: relative;

    width: 70%;

    flex-flow: row wrap;

    justify-content: space-between;

    user-select: none;
    div {
      position: relative;
    }
  }

  .infoServiceAll {
    width: 30%;

    @media (width < 805px) {
      p {
        font-size: calc(10px + 12 * (100vw / 1920)) !important;
      }

      @media (width < 605px) {
        p {
          font-size: calc(4px + 10 * (100vw / 605)) !important;
        }
      }
    }

    p {
      text-align: right;

      font-weight: 600;

      line-height: calc(16px + 12 * (100vw / 1920));

      font-size: calc(8px + 8 * (100vw / 1920));

      &:hover {
        color: grey;
      }

      cursor: pointer;
    }

    .infoServiceAllIcons {
      position: absolute;

      padding: 0.5vh;

      width: 100%;

      left: 0;

      justify-content: space-between;
      border: calc(2px + 1 * (100vw / 1920)) solid rgb(60, 60, 60);
      background-color: rgb(28, 28, 28);
      z-index: 2;
    }
  }
}

.infoPriceButton {
  display: flex;

  padding: 1vh 0;

  justify-content: space-between;

  border-top: calc(2px + 1 * (100vw / 1920)) solid rgb(40, 40, 40);

  @media (width < 805px) {
    p {
      font-size: calc(10px + 16 * (100vw / 1920)) !important;
    }

    .infoPriceButtonButn {
      width: calc(70px + 175 * (100vw / 1920)) !important;

      font-size: calc(6px + 8 * (100vw / 1920)) !important;
    }

    @media (width < 605px) {
      p {
        font-size: calc(6px + 14 * (100vw / 605)) !important;
      }

      .infoPriceButtonButn {
        width: calc(30px + 175 * (100vw / 605)) !important;

        height: calc(16px + 20 * (100vw / 605)) !important;

        font-size: calc(5px + 8 * (100vw / 605)) !important;
      }
    }
  }

  .infoPriceButtonButn {
    width: calc(35px + 175 * (100vw / 1920));
    height: calc(20px + 20 * (100vw / 1920));

    font-size: calc(5px + 8 * (100vw / 1920));
  }

  div {
    position: relative;
    display: flex;
    align-items: center;

    cursor: pointer;
  }

  p {
    text-align: center;

    font-size: calc(7px + 14 * (100vw / 1920));
    font-weight: bold;
  }
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
