.category-page-container__apartments {
    margin: 2vh 0;

    .category-page-container__apartments-card {
      display: flex;

      margin: 4vh 0;

      width: 100%;
      height: 100%;

      justify-content: space-between;


    }
  }
