.categoryPageRightBlock {
  position: relative;
  display: flex;

  width: 70%;
  height: 100%;

  justify-content: space-between;

  flex-wrap: wrap;

  z-index: 0;

  @media (width < 805px) {
    width: 60%;
  }

  .categoryPageRightBlockCard {
    position: relative;

    margin: 0 0 calc(20px + 30 * (100vw / 1920)) 0;

    justify-content: space-between;

    border-radius: calc(5px + 5 * (100vw / 1920));

    box-shadow: rgb(34, 34, 34) 0px 0px 0px 6px;

    background-color: rgb(28, 28, 28);

    @media (width < 805px) {
      width: 100%;
    }

    .categoryPageRightBlockCardSlider {
      position: relative;
      width: calc(50px + 450 * (100vw / 1920));

      @media (width < 805px) {
        width: 100%;
      }
    }
  }
}

.slider {
  user-select: none;

  .sliderImage {
    position: relative;

    height: calc(165px + 115 * (100vw / 1920));

    .sliderImageSpan {
      line-height: calc(165px + 115 * (100vw / 1920));
    }
  }

  .sliderImageApartment {
    position: relative;

    height: calc(120px + 415 * (100vw / 1920));
    z-index: 1;

    .sliderImageSpan {
      height: calc(120px + 415 * (100vw / 1920));
    }
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    color: rgb(0, 0, 0);
  }
}

.sliderImageSpan {
  position: absolute;
  width: 100%;

  text-align: center;

  font-size: calc(10px + 10 * (100vw / 1920));
  color: rgba(255, 255, 255, 0.76);
}

.sliderImagePicture {
  position: relative;
}
