.category-page-container__apartments-card__info__price {
  display: flex;

  padding: 1vh 0;

  justify-content: space-between;

  border-top: 3px solid rgb(40, 40, 40);



  div {
    position: relative;
    display: flex;
    align-items: center;

    cursor: pointer;
  }

  & p {
    text-align: center;

    font-size: calc(14px + 12 * (100vw / 1920));
    font-weight: bold;
  }
}
