.booking__apartment {
  margin-right: 2vh;
  padding: calc(5px + 5 * (100vw / 1920));
  width: 70%;
  height: 100%;
  border-radius: calc(5px + 5 * (100vw / 1920));
  box-shadow: rgb(255 254 254) 0 0 2px;
  background-color: rgb(32 32 32);
}