.category-page-container {
  display: flex;
  margin: 4vh 8vw;



  justify-content: space-between;

  @media (width < 800px) {
    margin: 0 4vw;
  }
}

.category-page-container__name {
  text-align: center !important;
}
