.categoryContainer {
  position: sticky;

  margin-right: 2vw;

  width: 30%;
  height: 100%;

  top: 7vh;

  z-index: 1;
}

.servicesSort {
  position: relative;
  margin: 3vh 0;
  padding: 2vh 1vw;

  width: 90%;

  border-radius: 1vh;
  box-shadow: rgb(34 34 34) 0px 0px 0px 6px;

  background-color: rgb(28, 28, 28);

  .servicesSortTitle {
    font-size: 24px;
  }

  .servicesSortBox {
    display: flex;

    padding-top: 1vh;

    justify-content: space-between;

    flex-wrap: wrap;

    .servicesSortBoxOption {
      margin-bottom: 1vh;

      width: 40%;

      white-space: nowrap;

      font-size: 15px;

      & input {
        margin-right: 0.5vw;
      }
    }
  }
}
