.apartment {
  position: relative;
  margin: 4vh 8vw;

  height: auto;

  .apartmentSlider {
    position: relative;
    margin: 0 auto;

    height: 525px;
    z-index: 0;

    .apartmentSliderImage {
      width: 790px !important;
    }
  }

  .apartmentSecondBlock {
    display: flex;
    position: relative;

    margin-top: 2vh;

    justify-content: space-between;

    .apartmentDesctiption {
      padding: calc(5px + 10 * (100vw / 1920));
      width: 68%;

      border-radius: calc(5px + 5 * (100vw / 1920));
      box-shadow: rgb(34 34 34) 0px 0px 0px calc(3px + 3 * (100vw / 1920));

      background-color: rgb(28, 28, 28);

      li {
        margin-top: 0.5vw;
        list-style: inside;

        &:first-child {
          margin: 0;
        }
      }
    }

    .apartmentBooking {
      width: 28%;
    }
  }
}
