.apartment {
  position: relative;

  height: auto;

  .apartmentSlider {
    position: relative;
    margin: 4vh 8vw;

    height: 525px;
    z-index: 0;

    .apartmentSliderImage {
      width: 790px !important;
    }
  }

  .apartmentSecondBlock {
    display: flex;
    position: relative;

    margin: 4vh 8vw;

    justify-content: space-between;

    .apartmentDesctiption {
      padding: calc(5px + 10 * (100vw / 1920));
      width: 68%;

      border-radius: calc(5px + 5 * (100vw / 1920));
      box-shadow: rgb(34 34 34) 0px 0px 0px calc(3px + 3 * (100vw / 1920));

      background-color: rgb(28, 28, 28);

      li {
        margin-top: 0.5vw;
        list-style: inside;

        &:first-child {
          margin: 0;
        }
      }
    }

    .apartmentBooking {
      width: 28%;
    }
  }

  .similar {
    position: relative;
    margin: 0 0 10vw 0;

    padding: 4vh 8vw;

    width: 100%;

    background-color: rgb(28, 28, 28);

    .similarInfo {
      p {
        font-size: 24px;
        font-weight: bold;
      }
    }

    .similarSlider {
      position: relative;
      margin: 1vh 0;

      height: 386px;

      .similarSliderBlock {
        position: absolute;

        padding: 1vw;

        width: 100%;
        height: 100%;

        .similarSliderBlockName {
          font-weight: bold;
        }
      }
    }

    .similarSelectOption {
      display: flex;
      width: 40%;

      justify-content: space-between;

      button {
        width: 20%;
        height: 4vh;

        background-color: black;
      }
    }
  }
}
